:root {
  --main-color: #ffffff;
  --secondary-color: #9e9e9e;
  --gray-color: #ddd;
  --grey-color: grey;
  --white-color: #f6f8fa;
  --first-color: #938c8d;
  --black-color: black;
  --aside-back: var(--main-color);
  --dark-font-color: #1f2328;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--main-color);
  min-height: 100vh;
  position: relative;
  padding-top: 100px;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      & {
        padding: 10px;
      }
    }

    @media screen and (max-width: 576px) {
      & {
        padding: 5px;
      }
    }
  }

  header {
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color);
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  aside {
    .picker {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;

      .pick {
        display: flex;
        align-items: center;
      }

      input,
      select,
      label {
        width: 70px;
        height: 27px;
        color: var(--dark-font-color);
        outline: none;
        cursor: pointer;
      }

      input,
      select {
        cursor: pointer;
        color: black;
      }
    }
  }

  .category-header {
    font-weight: bold;
    border-bottom: 1px solid var(--grey-color);
    margin-bottom: 5px;
    color: var(--dark-font-color);
  }

  .page-content {
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
    margin: 0 auto;
    position: relative;

    section {
      width: 100%;
      margin: 0 20px;

      .notes {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-column-gap: 3%;
        grid-row-gap: 24px;
        margin-bottom: 60px;

        @media screen and (max-width: 1500px) {
          & {
            grid-template-columns: repeat(3, minmax(0, 1fr));
          }
        }
        @media screen and (max-width: 1200px) {
          & {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 4%;
          }
        }
        @media screen and (max-width: 450px) {
          & {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }
        .note {
          padding-bottom: 20px;
          box-shadow: 0 0 2px 2px var(--black-color);
        }

        .card {
          height: 250px;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          background-color: var(--first-color);

          .color {
            float: left;
            height: 25px;
            width: calc(100% / 6);
            cursor: pointer;
          }

          textarea {
            width: 100%;
            height: calc(100% - 25px);
            padding: 20px;
            font-size: 20px;
            font-family: "Cairo", sans-serif;
            color: var(--white-color);
            background-color: var(--first-color);
            border: none;
            outline: none;
            resize: none;

            &::placeholder {
              color: white;
              opacity: 0.8;
              font-size: 20px;
              font-weight: normal;
            }
          }

          .del-btn {
            position: absolute;
            background-color: var(--black-color);
            color: var(--white-color);
            z-index: 999;
            bottom: -50px;
            right: 0;
            padding: 10px;
            border: none;
            border-radius: 10px 0 0 0;
            cursor: pointer;
            transition: 0.2s ease;
          }

          &:hover .del-btn {
            bottom: 0;
          }
        }

        .add-btn {
          border: 3px dashed var(--secondary-color);
          background-color: var(--white-color);
          font-size: 100px;
          color: var(--secondary-color);
          cursor: pointer;
        }

        .add-btn:hover {
          color: var(--grey-color);
        }
      }
    }
    .notes-counter {
      div {
        color: var(--black-color);
        padding: 5px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;

        span {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }
  footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-top: 1px solid var(--gray-color);

    a {
      text-decoration: none;
      color: #2196f3;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* ---------------------------------------------------- */
/* The switch - the box around the slider */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #522ba7;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  right: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #fff000;
  transition: 0.5s;
}

.mode-input:checked + .slider {
  background-color: #28096b;
}

.mode-input:checked + .slider:before {
  transform: translateX(-100%);
  box-shadow: inset 8px -4px 0px 0px #fff000;
}

body:has(.mode-input:checked) {
  --main-color: #171717;
  --secondary-color: #9e9e9e;
  --gray-color: #4e4e4e;
  --grey-color: grey;
  --white-color: black;
  --black-color: white;
  --aside-back: #0d1117;
  --dark-font-color: white;
}

/* --------------------------------------------- */
.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.5em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--black-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

body:has(.hamburger input:checked) section,
body:has(.hamburger input:checked) .right {
  opacity: 0.5;
  pointer-events: none;
}

body:has(.hamburger input:checked) .left {
  display: block;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 0 25px 25px 0;
  margin-left: 0;
}

.left {
  margin-left: 20px;
}
.right {
  margin-right: 20px;
}
.left,
.right {
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  position: sticky;
  top: 100px;
  left: 0;
}

.left,
.right,
section {
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .right {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  body header {
    padding: 5px 10px;
    margin-bottom: 15px;
  }
  .hamburger {
    display: flex;
  }
  .left {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  body {
    padding-top: 60px;
  }
  body header {
    padding: 5px 10px;
    margin-bottom: 0;
  }
  header h1 {
    font-size: 20px;
  }
  .switch {
    font-size: 11px;
  }
  .hamburger svg {
    height: 1.8em;
  }
  section {
    padding: 10px;
  }
  body footer {
    padding: 5px;
    font-size: 11px;
  }
}
@media screen and (max-width: 240px) {
  body {
    padding-top: 30px;
  }
  body header {
    padding: 0 5px;
  }
  header h1 {
    font-size: 12px;
  }
  .switch {
    font-size: 6px;
  }
  .hamburger svg {
    height: 1em;
  }
  .mode-input:checked + .slider:before {
    box-shadow: inset 4px -4px 0px 0px #fff000;
  }
}
.notes-counter {
  margin-bottom: 60px;
}

/* ::backdrop {
  background-color: #161b2266;
} */

.hide {
  display: none;
}
